venv
venv/*

env
env/*

Infra/requirements
Infra/requirements/*

Infra/.terraform
Infra/.terraform/*

Infra/lambda_function_extract_data.zip
Infra/requirements.zip
Infra/python.zip
Infra/python/*

.DS_Store
Infra/.terraform.lock.hcl
Infra/terraform.tfstate.backup
Infra/terraform.tfstate

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

Infra/*.tfstate
Infra/*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

lambda_to_s3.zip
lambda_rds.zip
python.zip
load_to_redshift
aws_key/aws-bastion-key.pem
aws_key/aws-bastion-key.pub


transformation/logs/dbt.log

transformation/dbt_transformation/target

transformation/dbt_transformation/.user.yml
transformation/logs

transformation/dbt_transformation/healthcare_dagster_orchestrator/healthcare_dagster_orchestrator/__pycache__/*
transformation/dbt_transformation/healthcare_dagster_orchestrator/healthcare_dagster_orchestrator/__pycache__
transformation/dbt_transformation/healthcare_dagster_orchestrator/healthcare_dagster_orchestrator/__pycache__/assets.cpython-310.pyc
transformation/dbt_transformation/healthcare_dagster_orchestrator/healthcare_dagster_orchestrator/__pycache__/__init__.cpython-310.pyc
transformation/dbt_transformation/healthcare_dagster_orchestrator/healthcare_dagster_orchestrator/__pycache__/assets.cpython-310.pyc
transformation/dbt_transformation/healthcare_dagster_orchestrator/healthcare_dagster_orchestrator/__pycache__/definitions.cpython-310.pyc

transformation/dbt_transformation/healthcare_dagster_orchestrator/healthcare_dagster_orchestrator/.env
transformation/dbt_transformation/healthcare_dagster_orchestrator/healthcare_dagster_orchestrator/__pycache__/assets.cpython-310.pyc
transformation/dbt_transformation/healthcare_dagster_orchestrator/healthcare_dagster_orchestrator/__pycache__/__init__.cpython-310.pyc
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmpbo711zwu/history/runs/0b9ddeff-1737-4d0a-abde-63d00390b299.db
transformation/dbt_transformation/healthcare_dagster_orchestrator/healthcare_dagster_orchestrator/__pycache__/__init__.cpython-310.pyc

transformation/dbt_transformation/healthcare_dagster_orchestrator/tmpbo711zwu/
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmpm8owgowk/
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmpw81zb993/
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmpzzpv1_sk/
transformation/dbt_transformation/package-lock.yml
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmplwrnwgv6/history/runs.db
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmplwrnwgv6/history/runs/0e3f19dc-50bd-45bf-903d-ebe52422b77f.db
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmplwrnwgv6/history/runs/b491751e-14cd-474d-acef-8ffde1a0c9b0.db
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmplwrnwgv6/history/runs/c61ed75e-af20-4f47-9d0b-65cb71512f18.db
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmplwrnwgv6/storage/0e3f19dc-50bd-45bf-903d-ebe52422b77f/compute_logs/phfulsby.complete
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmplwrnwgv6/storage/0e3f19dc-50bd-45bf-903d-ebe52422b77f/compute_logs/phfulsby.err
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmplwrnwgv6/storage/0e3f19dc-50bd-45bf-903d-ebe52422b77f/compute_logs/phfulsby.out
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmplwrnwgv6/history/runs/index.db
transformation/dbt_transformation/healthcare_dagster_orchestrator/tmplwrnwgv6/history/runs/b1db36b1-17a0-4617-af6c-f91727998ca7.db
