#
PROJECT_NAME := dbt_transformation
VERSION := 1.0.4

# Docker
DOCKER_IMAGE := $(PROJECT_NAME):$(VERSION)

# AWS 
AWS_ACCOUNT := 623838372493
AWS_REGION := eu-west-3
ECR_USER := AWS
ECR_HOST := $(AWS_ACCOUNT).dkr.ecr.$(AWS_REGION).amazonaws.com
ECR_REPOSITORY := healthcare-dbt-project
ECR_IMAGE := $(ECR_HOST)/$(ECR_REPOSITORY):$(VERSION)